{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'style/login.css' %}">
  <title>Coach Login</title>
</head>
<body>
  <div class="maincard">
    <div class="bg"></div> <!-- blurred background -->
    
    <div class="innercard">
      <form method="POST">
        {% csrf_token %}
        
        <h2>Coach Login</h2>
        
        <input name="username" placeholder="Username" required><br>
        <input name="password" type="password" placeholder="Password" required><br>
        <button type="submit">Login</button>
        
        {% for m in messages %}<p class="msg">{{ m }}</p>{% endfor %}
      </form>
    </div>
  </div>
</body>
</html>





































